@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Expressing Family</h1>
    <p class="lead">This family has been with us throughout our journey to help</p>
    <p>families contact each other, set up plans, and be able to</p>
    <p>keep in touch even from one end to the earth to the other.</p>
    <img src="Images/family.jpeg" width="500" height="250" alt="Family">
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Enjoyment</h2>
        <p>
            Family is the most important aspect of Life,
            So enjoy it by inviting them over to your home,
            party, etc, by inviting them though our chatbox.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Talk to them</h2>
        <p>Feel free to talk to your them.</p>
        <p><a class="btn btn-default" href=""></a></p>
    </div>
    <div class="col-md-4">
        <h2>Help</h2>
        <p>Click down below for some helpful tips.</p>
        <p><a class="btn btn-default" href="Help.html">Help</a></p>
    </div>
</div>